### ALPACA IYR TICKER DATA

In [5]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation

%matplotlib inline
import json

In [6]:
# Load .env enviroment variables
load_dotenv()

True

In [7]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

#Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [27]:
# Format current date as ISO format
start_date = pd.Timestamp("2012-26-06", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-26-06", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["IYR"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for IYR
df = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Preview DataFrame
df.describe()

              IYR
             open        high         low       close        volume
count  590.000000  590.000000  590.000000  590.000000  5.900000e+02
mean    46.956186   47.861769   46.025684   47.004441  2.122173e+07
std     13.854113   13.882610   13.816797   13.819262  1.434657e+07
min     21.520000   22.730000   20.980000   22.270000  3.162695e+06
25%     34.635000   35.320000   33.505000   34.597500  1.051055e+07
50%     44.205000   44.865000   43.660000   44.215000  1.740628e+07
75%     61.507500   62.545000   60.360000   61.547500  2.839110e+07
max     71.660000   77.480000   70.790000   71.560000  8.903000e+07