### ALPACA IYR TICKER DATA

In [5]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation

%matplotlib inline
import json

In [6]:
# Load .env enviroment variables
load_dotenv()

True

In [7]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

#Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [18]:
# Format current date as ISO format
start_date = pd.Timestamp("2010-05-05", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-05", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["IYR"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
df = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Preview DataFrame
df

                             IYR
                            open   high      low  close    volume
time
2016-05-16 00:00:00-04:00  78.56  79.52  78.4500  79.30   5131924
2016-05-17 00:00:00-04:00  78.97  79.03  77.6000  78.03   8676173
2016-05-18 00:00:00-04:00  77.65  77.85  76.0707  76.97  11817850
2016-05-19 00:00:00-04:00  76.47  76.56  75.7300  76.15   8846700
2016-05-20 00:00:00-04:00  76.10  76.84  76.1000  76.75   6980490
...                          ...    ...      ...    ...       ...
2020-04-29 00:00:00-04:00  77.35  77.85  75.7589  76.92  13755872
2020-04-30 00:00:00-04:00  75.68  76.30  74.7900  76.04  16334704
2020-05-01 00:00:00-04:00  74.41  74.42  72.7800  73.46  10784604
2020-05-04 00:00:00-04:00  72.66  73.34  71.5900  73.22   9565598
2020-05-05 00:00:00-04:00  73.87  74.76  73.5500  73.65  10374452

[1000 rows x 5 columns]