### Load IYR Data

In [1]:
# Initial Imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
%matplotlib inline
import json
import datetime as dt
from fredapi import Fred
import yfinance as yf
import pandas as pd

In [2]:
# Load .env enviroment variables
load_dotenv()

True

In [5]:
# Set Fred API Key via 
fred_api = os.getenv('fred_api_key')
fred = Fred(api_key=fred_api)

In [6]:
#df_CS = {}
CSI_data = fred.get_series('CSUSHPINSA')

In [7]:
df_CS = pd.DataFrame(CSI_data, index=CSI_data.index)
df_CS.index = pd.to_datetime(df_CS.index)
df_CS.columns =['Case-Shiller U.S. National Home Price Index']
df_CS = df_CS.dropna()
df_CS = df_CS.resample('M').mean()
df_CS.head()

            Case-Shiller U.S. National Home Price Index
1987-01-31                                       63.737
1987-02-28                                       64.137
1987-03-31                                       64.472
1987-04-30                                       64.977
1987-05-31                                       65.552

In [17]:
# Export to CSV for Modelling
df_CS.to_csv('CS.csv')

In [11]:
today = pd.to_datetime("today").strftime("%Y-%m-%d")
data = yf.download("IYR", start="2000-01-01", end=today)
data = data['Close'].dropna()
data = pd.DataFrame(data, index=data.index)
data = data.resample('M').mean()
df2 = pd.concat([data,df_CS],join='inner',axis=1)

[*********************100%***********************]  1 of 1 completed

In [16]:
df2.columns = ["IYR close", "Case Schiller"]

df2

            IYR close  Case Schiller
2000-06-30  35.255208        104.855
2000-07-31  36.371094        105.721
2000-08-31  37.274457        106.521
2000-09-30  37.550781        107.134
2000-10-31  35.844318        107.727
...               ...            ...
2020-12-31  84.622273        234.472
2021-01-31  84.403685        236.441
2021-02-28  88.644210        239.192
2021-03-31  89.776087        243.949
2021-04-30  96.233809        249.040

[251 rows x 2 columns]

In [15]:
correlation = df2.corr()
print(f"correlation is {correlation}")

correlation is                IYR close  Case Schiller
IYR close       1.000000       0.862951
Case Schiller   0.862951       1.000000